@media only screen and (min-width:1000px){
    main{
        margin-left: 0px;
    }
    .main-navbar{
        top: 5px;
        right: 0;
        width: 100%;
        height: 80px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        overflow-x: visible;
        &:hover{
            width: 100%;
        }
        &:hover .navbar-item .navbar-link span{
            font-size: 1rem;
            transition: 1s all ease-in-out;
        }
        .navbar-container{
            flex-direction: row;
            justify-content:right;
            .logo{
                width: 100%;
                align-self:center;
                .navbar-link{
                    font-size: 1rem;
                    writing-mode:unset;
                }                  
                &:first-child{
                    margin-right: auto;
                    margin-bottom: 0;
                }
                span{
                    margin-left: 100px;
                }
            }
            .navbar-item{
                width: 20%;
                .navbar-link{
                    &:hover{
                        border-right: 0px;
                        border-bottom: 3px solid $textPink;
                    }
                    img{
                        display: none;
                    }
                    span{
                        font-size: 1rem;
                    }
                    .link-text{
                        display: block;
                    }
                    &:hover{
                        background: #ffffff;
                    }
                    &:hover .link-text{
                        transition: all 0.1s ease;
                        color: $textPink;
                    }
                }
                .lenguage{
                    margin-left: 100px;
                    margin-right: 20px;
                    &:hover{
                        border-right: 0px;
                        border-bottom: 3px solid $textPink;
                    }
                    input{
                        &:checked ~ ul{
                            right: -10px;
                            top: 80px
                        }
                    }
                    label{
                        span{
                            display: none;
                        }
                    }
                    ul{
                        position: absolute;
                        top: 80px;
                        right: -150px;
                    }
                }
            }
            }

    }
    main .home-data {
        .pablo{
            margin: 85px 0px 0px 0px;
        }
        p{
            bottom: 40px;
        }
    }
    main .about {
        padding: 120px 0px 50px 0px;
        .about-data{
            flex-direction: row;
            margin: 0 20px;
            > img{
                width: 20%;
                padding: 20px;
            }
            .conten-about{
                padding: 0 60px;
            }
        }
    }
    main .proyect{
        padding: 120px 0px 50px 0px;
    }
    main .hero-section .card-grid{
        grid-template-columns: repeat(2, 1fr); 
        .card{
            height: 300px;
        }
    }

    main .contact {
        padding: 120px 0px 50px 0px;
        .contact-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            .contact-form form{
                .block2 {
                    grid-column: 1 / 2;
                }
                .block3 {
                    grid-column: 2 / 3;
                }
                h4, ul, p {
                    text-align: left;
                }
            } 
            .contact-info{
                margin-top: 0px;
                padding-left: 25px;
                h4, p{
                    text-align: start;
                }
                ul li {
                    justify-content: start;
                }
                .nombre{
                    margin-top: 60px;
                }
            } 
        }

    }
}