main{
    .home-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        position: relative;
        .pablo {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            .capa-p, .capa-ab, .capa-l, .capa-o, .capa-h, .capa-e, .capa-n, .capa-an, .capa-de, .capa-z{
                fill: none;
                stroke: #fff;
            }
            .capa-p {
                stroke-dasharray: 800;
                stroke-dashoffset: 800;
                animation: effect-letter 0.5s linear forwards;
            }
            .capa-ab {
                stroke-dasharray: 255;
                stroke-dashoffset: 255;
                animation: effect-letter 0.4s 0.5s linear forwards;
            }
            .capa-l {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: effect-letter 0.2s 0.9s linear forwards;
            }
            .capa-o {
                stroke-dasharray: 65;
                stroke-dashoffset: 65;
                animation: effect-letter 0.2s 1.15s linear forwards;
            }
            .capa-h {
                stroke-dasharray: 750;
                stroke-dashoffset: 750;
                animation: effect-letter 0.5s 1.35s linear forwards;
            }
            .capa-e {
                stroke-dasharray: 140;
                stroke-dashoffset: 140;
                animation: effect-letter 0.3s 1.85s linear forwards;
            }
            .capa-n {
                stroke-dasharray: 50;
                stroke-dashoffset: 50;
                animation: effect-letter 0.2s 2.15s linear forwards;
            }
            .capa-an {
                stroke-dasharray: 100;
                stroke-dashoffset: 100;
                animation: effect-letter 0.3s 2.35s linear forwards;
            }
            .capa-de {
                stroke-dasharray: 195;
                stroke-dashoffset: 195;
                animation: effect-letter 0.3s 2.65s linear forwards;
            }
            .capa-z {
                stroke-dasharray: 120;
                stroke-dashoffset: 120;
                animation: effect-letter 0.2s 2.95s linear forwards;
            }
        } 
         p{
            position: absolute;
            bottom: 80px;
            font-size: 1rem;
            font-weight: 500;
            -webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 3.5s;
            .inicio{
                margin-right: 20px;
            }
            .fin{
                margin-left: 20px;
            }
        }
    }
    //about
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-items: center;
        padding: 60px 0px;
        overflow: hidden;
        height: auto;
        .section-title{
            font-size: 2rem;
            text-align: center;
            margin-bottom: 5rem;
            font-weight: 600;
            &:hover{
                transition: color 200ms ease-out;
                color: $textPink;
            }
        }
        .about-data {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            flex-flow: column wrap;
            .foto {
                width: 300px;
                height: 300px;
                position: relative;
                align-self: center;
                margin: 1.5rem;
                transition: 400ms ease-in;
                z-index: 100;
                &:before{
                    content: '';
                    display: block;
                    width: 200px;
                    height: 200px;
                    border: 8px solid $textPink;
                    transform: translate(-20px, -22px);
                    transition: 400ms ease-in;
                }
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 200px;
                    height: 200px;
                    border: 8px solid $textPink;
                    transform: translate(107px, -110px);
                    z-index: -10;
                    transition: 400ms ease-in;
                }
                span{
                    position: absolute;
                    inset: 0;
                    transition: 400ms ease-in;
                    background-image: url("../../assets/about.jpg");
                    background-size: cover;
                    backface-visibility: hidden;
                    &:nth-child(1){
                        clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
                        transform:perspective(200px) translateZ(-5px) translate(-2px, -2px);
                        filter: brightness(0.75) saturate(1.2) contrast(0.85);
                    }
                    &:nth-child(2){
                        clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
                        transform: perspective(200px) translateZ(5px) translate(2px, -2px);
                        filter: brightness(0.75) saturate(1.2) contrast(0.85);
                    }
                    &:nth-child(3){
                        clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
                        transform: perspective(200px) translateZ(5px) translate(-2px, 2px);
                        filter: brightness(0.75) saturate(1.2) contrast(0.85);
                    }
                    &:nth-child(4){
                        clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
                        transform: perspective(200px) translateZ(-5px) translate(2px, 2px);
                        filter: brightness(0.75) saturate(1.2) contrast(0.85);
                    }
                }
                &:hover span:nth-child(1){
                    transform:perspective(200px) translateZ(0px);
                    filter: brightness(1) saturate(1) contrast(1);
                }
                &:hover span:nth-child(2){
                    transform: perspective(200px) translateZ(0px);
                    filter: brightness(1) saturate(1) contrast(1);
                }
                &:hover span:nth-child(3){
                    transform: perspective(200px) translateZ(0px);
                    filter: brightness(1) saturate(1) contrast(1);
                }
                &:hover span:nth-child(4){
                    transform: perspective(200px) translateZ(0px);
                    filter: brightness(1) saturate(1) contrast(1);
                }

            }
            .conten-about{
                margin-top: 45px;
                flex: 3;
                padding: 0 50px;
                p{
                    margin-bottom: 15px;
                    text-align: justify;
                }
            }
            
        }
        .iconos{
            flex: 2;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(8, 23px);
            grid-template-rows: repeat(6, 39px);
            grid-template-areas: 
            ". . html5 html5 . txtHtml5 . ." 
            "txtCss3 . . cs3 cs3 . . ." 
            ". . bootstrap bootstrap . txtBootstrap . ." 
            ". txtGit . git git . . ." 
            ". . . . gitHb gitHb . txtGithub" 
            "txtSass . . sass sass . . ."
            ". . js js . txtJs . .";
            justify-content: center;
            gap: 3px;
            margin-top: 30px;
            #html5{
                grid-area: html5;
            }
            #txtHtml5{
                grid-area: txtHtml5;
            }
            #cs3{
                grid-area: cs3;
            }
            #txtCss3{
                grid-area: txtCss3;
                margin-left: 15px;
            }
            #bootstrap{
                grid-area: bootstrap;
            }
            #txtBootstrap{
                grid-area: txtBootstrap;
            }
            #git{
                grid-area: git;
            }
            #txtGit{
                grid-area: txtGit;
            }
            #gitHb{
                grid-area: gitHb;
            }
            #txtGithub{
                grid-area: txtGithub;
            }
            #sass{
                grid-area: sass;
            }
            #txtSass{
                grid-area: txtSass;
                margin-left: 15px;
            }
            #js{
                grid-area: js;
            }
            #txtJs{
                grid-area: txtJs;
            }
            .txtIcono{
                align-self: flex-end;
                opacity: 0;
                transition: all 500ms ease-out;
                &:hover{
                    transition: all 500ms ease-out;
                    color: $textPink;
                }
            }
            .icono-items{
                filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
                .borde{
                    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                    width: 52px;
                    height: 52px;
                    background-color: $textPink;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                        width: 48px;
                        height: 48px;
                        top: 2px;
                        left: 2px;
                        position: absolute;
                    }
                }
            }
            &:hover .txtIcono{
                transition: opacity 300ms ease-out;
                opacity: 1;
            }
        }
    }
    .animated {
        animation: spin 1s alternate;
    }
    //proyect
    .proyect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-items: center;
        padding: 60px 0px;
        overflow-x: hidden;
        height: auto;
        .section-title{
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1.5rem;
            font-weight: 600;
            &:hover{
                transition: color 200ms ease-out;
                color: $textPink;
            }
        }
    }
    .hero-section{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:transparent;
        height: auto;
        min-height: 100%;
        justify-content: center;
        padding: 60px 0px 0px 0px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        .card-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            max-width: 1200px;
            width: 100%;
            .card{
                list-style: none;
                position: relative;
                height: 250px;
                &:before{
                    content: '';
                    display: block;
                    padding-bottom: 150%;
                    width: 100%;
                }
                .card__background{
                    background-size: cover;
                    background-position: center;
                    bottom: 0;
                    filter: brightness(0.75) saturate(1.2) contrast(0.85);
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform-origin: center;
                    transform: scale(1) translateZ(0);
                    transition: 
                      filter 200ms linear,
                      transform 200ms linear;
                }
                .mbTrainer{
                    background-image: url("../../assets/mbpersonaltrainer.jpg");
                }
                .mahalo{
                    background-image: url("../../assets/mahalo.jpg");
                }
                .paralax{
                    background-image: url("../../assets/paralax.jpg");
                }
                .porfolio{
                    background-image: url("../../assets/porfolio.jpg");
                }
                &:hover .card__background{
                    transform: scale(1.01) translateZ(0);
                }
                .card__content{
                    left: 0;
                    padding: 32px;
                    position: absolute;
                    top: 0;
                    .card__category{
                        color: rgba(255,255,255,0.6);
                        font-size: 0.9rem;
                        margin-bottom: 8px;
                        text-transform: uppercase;
                    }
                    .card__heading{
                        color: rgba(255,255,255,0.9);
                        font-size: 1.9rem;
                        text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
                        line-height: 1.4;
                        word-spacing: 100vw;
                    }
                }
            }
            &:hover > .card:not(:hover) .card__background{
                filter:blur(5px);
            }
        }
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        align-items: center;
        padding: 60px 0px;
        overflow-x: hidden;
        height: auto;
        .section-title{
            font-size: 2rem;
            text-align: center;
            margin-bottom: 1.5rem;
            font-weight: 600;
            &:hover{
                transition: color 200ms ease-out;
                color: $textPink;
            }
        }
        .contact-wrapper {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            overflow: hidden;
            margin: 60px 0px 100px 0px;
            padding: 1.5rem;
            width: 90%;
            .contact-form {
                background: #ffffff;
                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    p {
                        margin: 0;
                        padding: 1em;
                        label {
                            display: block;
                        }
                    }
                    .block {
                        grid-column: 1 / 3;
                    }
                    .block2, .block3 {
                        grid-column: 1 / 3;
                    }
                    input, textarea {
                        width: 100%;
                        padding: .7em;
                        border: none;
                        background: none;
                        outline: 0;
                        color: rgb(0, 0, 0);
                        border-bottom: 1px solid $textPink;
                    }
                    textarea{
                        resize:vertical;
                        max-height: 100px;
                    }
                    button {
                        width: 100%;
                        padding: 2em;
                        border: none;
                        background: none;
                        text-transform: uppercase;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        .boton-icono{
                            transition: 500ms ease-in-out all;
                            position: absolute;
                            left: 44%;
                            bottom: -50%;
                            z-index: 1;
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        span {
                            color: rgb(0, 0, 0);
                            transition: 500ms ease-in-out all;
                            position: absolute;
                            top: 1.2em;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 1;
                            font-size: 1rem;
                            font-weight: 500;
                        }
                        &::after{
                            content: "";
                            width: 100%;
                            position: absolute;
                            z-index: 0;
                            top: 0;
                            left: calc(-100% - 80px);
                            border-bottom: 80px solid $textPink;
                            border-right: 80px solid transparent;
                            transition: .4s ease-in-out all;
                        }
                        &:hover span{
                            top: -20px;
                        }
                        &:hover .boton-icono{
                            bottom: 26%;
                        }
                        &:hover::after {
                            left: 0;
                        }
                    }
                }
            }
            /* CONTACT INFO */
            .contact-info {
                background: rgb(255, 255, 255);
                margin-top: 50px;
                h4, ul, p {
                    text-align: center;
                    margin: 0 0 1rem 0;
                }
                ul li {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    img{
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                    p{
                        margin-bottom: 0.5rem;
                    }
                }
                .nombre{
                    font-family: Firma;
                    font-size: 35px;
                    margin-top: 20px;
                    text-align: center;
                }
                .redes{
                    display: flex;
                    justify-content: space-evenly;
                    align-content: center;
                    margin-top: 20px;
                    i{
                        font-size: 25px;
                    }
                    img{
                        align-self: center;
                        width: 30px;
                        height: 30px;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                    a{
                        color: #000;
                        font-size: 25px;
                        transition: all 500ms ease-out;
                    }
                    svg{
                        width: 27px;
                        height: 27px;
                        align-self: center;
                        fill: #000000;
                    }
                    .bi-facebook{
                        &:hover{
                            transition: all 500ms ease-out;
                            color:map-get($colorsRedes, face);
                        }
                    }
                    .bi-instagram{
                         &:hover{
                            transition: all 500ms ease-out;
                            background: map-get($colorsRedes, insta);
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                        }
                    }
                    .bi-whatsapp{
                        &:hover{
                            transition: all 500ms ease-out;
                            color:map-get($colorsRedes, wtsp)
                        }
                    }
                    .bi-linkedin{
                        &:hover{
                            transition: all 500ms ease-out;
                            color:map-get($colorsRedes, in)
                        }
                    }
                }
            }
        }
    }
}
.footer{
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 100px;
    .copyright{
        font-size: 10px;
		font-weight: 600;
        color: black;
    }
}