@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@font-face {
  font-family: Firma;
  src: url("../../font/TheScientist-L3EyW.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:window-inactive {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fc037b;
}

.main-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  text-decoration: none;
  transition: 0.5s all ease;
  z-index: 10;
}
.main-navbar .navbar-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.main-navbar .navbar-container .logo {
  display: none;
}
.main-navbar .navbar-container .navbar-item {
  width: 100%;
}
.main-navbar .navbar-container .navbar-item .navbar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-decoration: none;
}
.main-navbar .navbar-container .navbar-item .navbar-link:hover {
  border-top: 3px solid #fc037b;
}
.main-navbar .navbar-container .navbar-item .navbar-link img {
  width: 30px;
}
.main-navbar .navbar-container .navbar-item .navbar-link span {
  color: #000000;
  font-size: 0.6rem;
  margin-top: 4px;
}
.main-navbar .navbar-container .navbar-item .lenguage {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-navbar .navbar-container .navbar-item .lenguage:hover {
  border-top: 3px solid #fc037b;
}
.main-navbar .navbar-container .navbar-item .lenguage input {
  display: none;
}
.main-navbar .navbar-container .navbar-item .lenguage input:checked ~ ul {
  right: 10px;
}
.main-navbar .navbar-container .navbar-item .lenguage label {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-navbar .navbar-container .navbar-item .lenguage label img {
  width: 30px;
}
.main-navbar .navbar-container .navbar-item .lenguage label span {
  color: #000000;
  font-size: 0.6rem;
  margin-top: 4px;
}
.main-navbar .navbar-container .navbar-item .lenguage img {
  width: 40px;
}
.main-navbar .navbar-container .navbar-item .lenguage ul {
  position: absolute;
  top: -90px;
  right: -130px;
  background-color: #ffffff;
  border-radius: 2px;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
  padding: 0px 5px;
  z-index: -1;
  transition: all 300ms ease-out;
}
.main-navbar .navbar-container .navbar-item .lenguage ul li {
  list-style: none;
}
.main-navbar .navbar-container .navbar-item .lenguage ul li a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: start;
}
.main-navbar .navbar-container .navbar-item .lenguage ul li a p {
  margin-left: 10px;
}

main .home-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
main .home-data .pablo {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .home-data .pablo .capa-p, main .home-data .pablo .capa-ab, main .home-data .pablo .capa-l, main .home-data .pablo .capa-o, main .home-data .pablo .capa-h, main .home-data .pablo .capa-e, main .home-data .pablo .capa-n, main .home-data .pablo .capa-an, main .home-data .pablo .capa-de, main .home-data .pablo .capa-z {
  fill: none;
  stroke: #fff;
}
main .home-data .pablo .capa-p {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: effect-letter 0.5s linear forwards;
}
main .home-data .pablo .capa-ab {
  stroke-dasharray: 255;
  stroke-dashoffset: 255;
  animation: effect-letter 0.4s 0.5s linear forwards;
}
main .home-data .pablo .capa-l {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.2s 0.9s linear forwards;
}
main .home-data .pablo .capa-o {
  stroke-dasharray: 65;
  stroke-dashoffset: 65;
  animation: effect-letter 0.2s 1.15s linear forwards;
}
main .home-data .pablo .capa-h {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation: effect-letter 0.5s 1.35s linear forwards;
}
main .home-data .pablo .capa-e {
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: effect-letter 0.3s 1.85s linear forwards;
}
main .home-data .pablo .capa-n {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: effect-letter 0.2s 2.15s linear forwards;
}
main .home-data .pablo .capa-an {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: effect-letter 0.3s 2.35s linear forwards;
}
main .home-data .pablo .capa-de {
  stroke-dasharray: 195;
  stroke-dashoffset: 195;
  animation: effect-letter 0.3s 2.65s linear forwards;
}
main .home-data .pablo .capa-z {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  animation: effect-letter 0.2s 2.95s linear forwards;
}
main .home-data p {
  position: absolute;
  bottom: 80px;
  font-size: 1rem;
  font-weight: 500;
  -webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 3.5s;
}
main .home-data p .inicio {
  margin-right: 20px;
}
main .home-data p .fin {
  margin-left: 20px;
}
main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-items: center;
  padding: 60px 0px;
  overflow: hidden;
  height: auto;
}
main .about .section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 600;
}
main .about .section-title:hover {
  transition: color 200ms ease-out;
  color: #fc037b;
}
main .about .about-data {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-flow: column wrap;
}
main .about .about-data .foto {
  width: 300px;
  height: 300px;
  position: relative;
  align-self: center;
  margin: 1.5rem;
  transition: 400ms ease-in;
  z-index: 100;
}
main .about .about-data .foto:before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border: 8px solid #fc037b;
  transform: translate(-20px, -22px);
  transition: 400ms ease-in;
}
main .about .about-data .foto:after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border: 8px solid #fc037b;
  transform: translate(107px, -110px);
  z-index: -10;
  transition: 400ms ease-in;
}
main .about .about-data .foto span {
  position: absolute;
  inset: 0;
  transition: 400ms ease-in;
  background-image: url("../../assets/about.png");
  background-size: cover;
  backface-visibility: hidden;
}
main .about .about-data .foto span:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
  transform: perspective(200px) translateZ(-5px) translate(-2px, -2px);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}
main .about .about-data .foto span:nth-child(2) {
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  transform: perspective(200px) translateZ(5px) translate(2px, -2px);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}
main .about .about-data .foto span:nth-child(3) {
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  transform: perspective(200px) translateZ(5px) translate(-2px, 2px);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}
main .about .about-data .foto span:nth-child(4) {
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  transform: perspective(200px) translateZ(-5px) translate(2px, 2px);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}
main .about .about-data .foto:hover span:nth-child(1) {
  transform: perspective(200px) translateZ(0px);
  filter: brightness(1) saturate(1) contrast(1);
}
main .about .about-data .foto:hover span:nth-child(2) {
  transform: perspective(200px) translateZ(0px);
  filter: brightness(1) saturate(1) contrast(1);
}
main .about .about-data .foto:hover span:nth-child(3) {
  transform: perspective(200px) translateZ(0px);
  filter: brightness(1) saturate(1) contrast(1);
}
main .about .about-data .foto:hover span:nth-child(4) {
  transform: perspective(200px) translateZ(0px);
  filter: brightness(1) saturate(1) contrast(1);
}
main .about .about-data .conten-about {
  margin-top: 45px;
  flex: 3;
  padding: 0 50px;
}
main .about .about-data .conten-about p {
  margin-bottom: 15px;
  text-align: justify;
}
main .about .iconos {
  flex: 2;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(8, 23px);
  grid-template-rows: repeat(6, 39px);
  grid-template-areas: ". . html5 html5 . txtHtml5 . ." "txtCss3 . . cs3 cs3 . . ." ". . bootstrap bootstrap . txtBootstrap . ." ". txtGit . git git . . ." ". . . . gitHb gitHb . txtGithub" "txtSass . . sass sass . . ." ". . js js . txtJs . .";
  justify-content: center;
  gap: 3px;
  margin-top: 30px;
}
main .about .iconos #html5 {
  grid-area: html5;
}
main .about .iconos #txtHtml5 {
  grid-area: txtHtml5;
}
main .about .iconos #cs3 {
  grid-area: cs3;
}
main .about .iconos #txtCss3 {
  grid-area: txtCss3;
  margin-left: 15px;
}
main .about .iconos #bootstrap {
  grid-area: bootstrap;
}
main .about .iconos #txtBootstrap {
  grid-area: txtBootstrap;
}
main .about .iconos #git {
  grid-area: git;
}
main .about .iconos #txtGit {
  grid-area: txtGit;
}
main .about .iconos #gitHb {
  grid-area: gitHb;
}
main .about .iconos #txtGithub {
  grid-area: txtGithub;
}
main .about .iconos #sass {
  grid-area: sass;
}
main .about .iconos #txtSass {
  grid-area: txtSass;
  margin-left: 15px;
}
main .about .iconos #js {
  grid-area: js;
}
main .about .iconos #txtJs {
  grid-area: txtJs;
}
main .about .iconos .txtIcono {
  align-self: flex-end;
  opacity: 0;
  transition: all 500ms ease-out;
}
main .about .iconos .txtIcono:hover {
  transition: all 500ms ease-out;
  color: #fc037b;
}
main .about .iconos .icono-items {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
main .about .iconos .icono-items .borde {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 52px;
  height: 52px;
  background-color: #fc037b;
  position: relative;
}
main .about .iconos .icono-items .borde img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 48px;
  height: 48px;
  top: 2px;
  left: 2px;
  position: absolute;
}
main .about .iconos:hover .txtIcono {
  transition: opacity 300ms ease-out;
  opacity: 1;
}
main .animated {
  animation: spin 1s alternate;
}
main .proyect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-items: center;
  padding: 60px 0px;
  overflow-x: hidden;
  height: auto;
}
main .proyect .section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
main .proyect .section-title:hover {
  transition: color 200ms ease-out;
  color: #fc037b;
}
main .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: auto;
  min-height: 100%;
  justify-content: center;
  padding: 60px 0px 0px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
main .hero-section .card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  max-width: 1200px;
  width: 100%;
}
main .hero-section .card-grid .card {
  list-style: none;
  position: relative;
  height: 250px;
}
main .hero-section .card-grid .card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}
main .hero-section .card-grid .card .card__background {
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
main .hero-section .card-grid .card .mbTrainer {
  background-image: url("../../assets/mbpersonaltrainer.jpg");
}
main .hero-section .card-grid .card .mahalo {
  background-image: url("../../assets/mahalo.jpg");
}
main .hero-section .card-grid .card .paralax {
  background-image: url("../../assets/paralax.jpg");
}
main .hero-section .card-grid .card .porfolio {
  background-image: url("../../assets/porfolio.jpg");
}
main .hero-section .card-grid .card:hover .card__background {
  transform: scale(1.01) translateZ(0);
}
main .hero-section .card-grid .card .card__content {
  left: 0;
  padding: 32px;
  position: absolute;
  top: 0;
}
main .hero-section .card-grid .card .card__content .card__category {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}
main .hero-section .card-grid .card .card__content .card__heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
main .hero-section .card-grid:hover > .card:not(:hover) .card__background {
  filter: blur(5px);
}
main .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-items: center;
  padding: 60px 0px;
  overflow-x: hidden;
  height: auto;
}
main .contact .section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
main .contact .section-title:hover {
  transition: color 200ms ease-out;
  color: #fc037b;
}
main .contact .contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 60px 0px 100px 0px;
  padding: 1.5rem;
  width: 90%;
  /* CONTACT INFO */
}
main .contact .contact-wrapper .contact-form {
  background: #ffffff;
}
main .contact .contact-wrapper .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .contact .contact-wrapper .contact-form form p {
  margin: 0;
  padding: 1em;
}
main .contact .contact-wrapper .contact-form form p label {
  display: block;
}
main .contact .contact-wrapper .contact-form form .block {
  grid-column: 1/3;
}
main .contact .contact-wrapper .contact-form form .block2, main .contact .contact-wrapper .contact-form form .block3 {
  grid-column: 1/3;
}
main .contact .contact-wrapper .contact-form form input, main .contact .contact-wrapper .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #fc037b;
}
main .contact .contact-wrapper .contact-form form textarea {
  resize: vertical;
  max-height: 100px;
}
main .contact .contact-wrapper .contact-form form button {
  width: 100%;
  padding: 2em;
  border: none;
  background: none;
  text-transform: uppercase;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
main .contact .contact-wrapper .contact-form form button .boton-icono {
  transition: 500ms ease-in-out all;
  position: absolute;
  left: 44%;
  bottom: -50%;
  z-index: 1;
}
main .contact .contact-wrapper .contact-form form button .boton-icono img {
  width: 20px;
  height: 20px;
}
main .contact .contact-wrapper .contact-form form button span {
  color: rgb(0, 0, 0);
  transition: 500ms ease-in-out all;
  position: absolute;
  top: 1.2em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  font-size: 1rem;
  font-weight: 500;
}
main .contact .contact-wrapper .contact-form form button::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: calc(-100% - 80px);
  border-bottom: 80px solid #fc037b;
  border-right: 80px solid transparent;
  transition: 0.4s ease-in-out all;
}
main .contact .contact-wrapper .contact-form form button:hover span {
  top: -20px;
}
main .contact .contact-wrapper .contact-form form button:hover .boton-icono {
  bottom: 26%;
}
main .contact .contact-wrapper .contact-form form button:hover::after {
  left: 0;
}
main .contact .contact-wrapper .contact-info {
  background: rgb(255, 255, 255);
  margin-top: 50px;
}
main .contact .contact-wrapper .contact-info h4, main .contact .contact-wrapper .contact-info ul, main .contact .contact-wrapper .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
main .contact .contact-wrapper .contact-info ul li {
  display: flex;
  align-content: center;
  justify-content: center;
}
main .contact .contact-wrapper .contact-info ul li img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
main .contact .contact-wrapper .contact-info ul li p {
  margin-bottom: 0.5rem;
}
main .contact .contact-wrapper .contact-info .nombre {
  font-family: Firma;
  font-size: 35px;
  margin-top: 20px;
  text-align: center;
}
main .contact .contact-wrapper .contact-info .redes {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 20px;
}
main .contact .contact-wrapper .contact-info .redes i {
  font-size: 25px;
}
main .contact .contact-wrapper .contact-info .redes img {
  align-self: center;
  width: 30px;
  height: 30px;
}
main .contact .contact-wrapper .contact-info .redes img:hover {
  transform: scale(1.1);
}
main .contact .contact-wrapper .contact-info .redes a {
  color: #000;
  font-size: 25px;
  transition: all 500ms ease-out;
}
main .contact .contact-wrapper .contact-info .redes svg {
  width: 27px;
  height: 27px;
  align-self: center;
  fill: #000000;
}
main .contact .contact-wrapper .contact-info .redes .bi-facebook:hover {
  transition: all 500ms ease-out;
  color: #3b5998;
}
main .contact .contact-wrapper .contact-info .redes .bi-instagram:hover {
  transition: all 500ms ease-out;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .contact .contact-wrapper .contact-info .redes .bi-whatsapp:hover {
  transition: all 500ms ease-out;
  color: #25d366;
}
main .contact .contact-wrapper .contact-info .redes .bi-linkedin:hover {
  transition: all 500ms ease-out;
  color: #0e76a8;
}

.footer {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 100px;
}
.footer .copyright {
  font-size: 10px;
  font-weight: 600;
  color: black;
}

@keyframes effect-letter {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 600px) {
  main {
    margin-left: 70px;
  }
  .main-navbar {
    top: 0;
    width: 70px;
    height: 100vh;
    transition: 0.5s all ease;
  }
  .main-navbar .navbar-container {
    flex-direction: column;
    justify-content: end;
    align-content: center;
  }
  .main-navbar .navbar-container .logo {
    display: block;
  }
  .main-navbar .navbar-container .logo .navbar-link {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    writing-mode: vertical-rl;
    margin-top: 20px;
  }
  .main-navbar .navbar-container .logo:first-child {
    margin-bottom: auto;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link:hover {
    border-top: 0px;
    border-right: 3px solid #fc037b;
  }
  .main-navbar .navbar-container .navbar-item .lenguage:hover {
    border-top: 0px;
    border-right: 3px solid #fc037b;
  }
  .main-navbar .navbar-container .navbar-item .lenguage input {
    display: none;
  }
  .main-navbar .navbar-container .navbar-item .lenguage input:checked ~ ul {
    right: -130px;
    top: -30px;
  }
  .main-navbar .navbar-container .navbar-item .lenguage ul {
    position: absolute;
    top: 100px;
    right: -130px;
  }
  main .about .iconos {
    margin-top: 45px;
    grid-template-columns: repeat(14, 23px);
    grid-template-rows: repeat(6, 24px);
    grid-template-areas: ". . . . . . . . . . txtSass txtSass . ." "txtHtml5 txtHtml5 . . txtBootstrap txtBootstrap . . txtGit txtGit sass sass . ." "html5 html5 . . bootstrap bootstrap . . gitHb gitHb sass sass js js" "html5 html5 cs3 cs3 bootstrap bootstrap git git gitHb gitHb . . js js" ". . cs3 cs3 . . git git . . . txtJs txtJs txtJs" ". . txtCss3 txtCss3 . . txtGithub txtGithub . . . . . .";
    gap: 5px;
  }
  main .about .iconos #txtCss3 {
    margin-left: 0px;
  }
  main .about .iconos #txtSass {
    margin-left: 0px;
  }
  main .about .iconos #txtJs {
    margin-left: 15px;
  }
  main .about .about-data {
    flex-direction: column;
  }
  main .about .about-data img {
    width: 40%;
  }
  .footer {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    margin-left: 0px;
  }
  .main-navbar {
    top: 5px;
    right: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    overflow-x: visible;
  }
  .main-navbar:hover {
    width: 100%;
  }
  .main-navbar:hover .navbar-item .navbar-link span {
    font-size: 1rem;
    transition: 1s all ease-in-out;
  }
  .main-navbar .navbar-container {
    flex-direction: row;
    justify-content: right;
  }
  .main-navbar .navbar-container .logo {
    width: 100%;
    align-self: center;
  }
  .main-navbar .navbar-container .logo .navbar-link {
    font-size: 1rem;
    writing-mode: unset;
  }
  .main-navbar .navbar-container .logo:first-child {
    margin-right: auto;
    margin-bottom: 0;
  }
  .main-navbar .navbar-container .logo span {
    margin-left: 100px;
  }
  .main-navbar .navbar-container .navbar-item {
    width: 20%;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link:hover {
    border-right: 0px;
    border-bottom: 3px solid #fc037b;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link img {
    display: none;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link span {
    font-size: 1rem;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link .link-text {
    display: block;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link:hover {
    background: #ffffff;
  }
  .main-navbar .navbar-container .navbar-item .navbar-link:hover .link-text {
    transition: all 0.1s ease;
    color: #fc037b;
  }
  .main-navbar .navbar-container .navbar-item .lenguage {
    margin-left: 100px;
    margin-right: 20px;
  }
  .main-navbar .navbar-container .navbar-item .lenguage:hover {
    border-right: 0px;
    border-bottom: 3px solid #fc037b;
  }
  .main-navbar .navbar-container .navbar-item .lenguage input:checked ~ ul {
    right: -10px;
    top: 80px;
  }
  .main-navbar .navbar-container .navbar-item .lenguage label span {
    display: none;
  }
  .main-navbar .navbar-container .navbar-item .lenguage ul {
    position: absolute;
    top: 80px;
    right: -150px;
  }
  main .home-data .pablo {
    margin: 85px 0px 0px 0px;
  }
  main .home-data p {
    bottom: 40px;
  }
  main .about {
    padding: 120px 0px 50px 0px;
  }
  main .about .about-data {
    flex-direction: row;
    margin: 0 20px;
  }
  main .about .about-data > img {
    width: 20%;
    padding: 20px;
  }
  main .about .about-data .conten-about {
    padding: 0 60px;
  }
  main .proyect {
    padding: 120px 0px 50px 0px;
  }
  main .hero-section .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  main .hero-section .card-grid .card {
    height: 300px;
  }
  main .contact {
    padding: 120px 0px 50px 0px;
  }
  main .contact .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  main .contact .contact-wrapper .contact-form form .block2 {
    grid-column: 1/2;
  }
  main .contact .contact-wrapper .contact-form form .block3 {
    grid-column: 2/3;
  }
  main .contact .contact-wrapper .contact-form form h4, main .contact .contact-wrapper .contact-form form ul, main .contact .contact-wrapper .contact-form form p {
    text-align: left;
  }
  main .contact .contact-wrapper .contact-info {
    margin-top: 0px;
    padding-left: 25px;
  }
  main .contact .contact-wrapper .contact-info h4, main .contact .contact-wrapper .contact-info p {
    text-align: start;
  }
  main .contact .contact-wrapper .contact-info ul li {
    justify-content: start;
  }
  main .contact .contact-wrapper .contact-info .nombre {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
